*.iml
.gradle
.tools
/local.properties
/keystore.properties
/app/google-services.json
*.jks
*.keystore
*.pepk
/pepk.jar
/encryption_public_key.pem
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
